In [ ]:
5#ciclo 8
#ciclo para 6
inicio= int(input("inicio : "))
fin= int(input("fin : "))
incremento = int(input("incremento : "))
for x in range(inicio,fin,incremento):
  print(x)

inicio : 5
fin : 10
incremento : 4
5
9

In [ ]:
#tabla de multiplicar de un numero
mult=0
tabla = int(input("que tabla desea  : "))
for x in range(10):
  mult= tabla * x
  print(str(tabla)+" x "+str(mult)+" = "+str(mult))

que tabla desea  : 5
5 x 0 = 0
5 x 5 = 5
5 x 10 = 10
5 x 15 = 15
5 x 20 = 20
5 x 25 = 25
5 x 30 = 30
5 x 35 = 35
5 x 40 = 40
5 x 45 = 45