Autor: Grupo 11 FP Noche

Fecha: 23_09_2022

Versión: 1.0

Punto 1:
Lea un termino e imprima y sume los números de la serie de acuerdo a la imagen hasta dicho termino. Realicelo con un ciclo for y un ciclo while.

In [ ]:
# Ciclo for
Inicial=0
Final=1
n=int(input("Ingrese el valor de n: "))
for i in range(1,n):
  total= Inicial+Final
  Final=Inicial
  Inicial=total
  print(total)

Ingrese el valor de n: 9
1
1
2
3
5
8
13
21

In [ ]:
# Ciclo while
n=int(input("Ingrese el valor de 'n': "))
#Los dos primeros terminos son inicio y final
Inicio=1
Final=0
suma=1
count=1
print("Secuencia de Fibonacci : ")
# El conteo no puede ser mayor que n
while(count<=n):    
  print(suma)
  count+=1
  Inicio=Final
  Final=suma
  suma=Inicio+Final

Ingrese el valor de 'n': 8
Secuencia de Fibonacci :
1
1
2
3
5
8
13
21

Punto 2: Realice un programa que calcule la combinatoria de dos números. Tenga en cuenta que para calcular la combinatoria debe calcular el factorial de cada número.

In [ ]:
n= int(input("ingrese un valor: "))
if n==5:
  contador=0
  for i in range(n):
    m= i+1
    n= m+1
    contador= contador + (m*n)
  print(contador)
elif n==3:
  resultado=0
  for i in range (n):
    resultado= resultado+(pow(2,i))
  print(resultado)

elif n==100:
  resultado=0
  for i in range (n):
    resultado= resultado+(pow(2,i))
  print(resultado)


else:
   print("numero no valido siga intentando")

ingrese un valor: 15
numero no valido siga intentando

Punto 3: Desarrolle un programa que calcule las siguientes sumatorias. Los números 5,3 y 100 lealos por teclado.

In [ ]:
def factorial (n):
  vlr_factorial=1
  contador=0
  resultado_factorial= 0
  while contador < n:
   vlr_factorial= vlr_factorial*(contador+1)
   contador= contador+1
  return vlr_factorial
m= int(input("ingrese el primer valor:"))
n= int(input("ingrese el segundo valor:"))
resta = m-n
m= factorial(m)
n= factorial
resta= factorial(resta)
resultado= m/(n*resta)
print(resultado)

Punto 4: Se desea obtener la nomina semanal-salario neto- de los empleados de una empresa cuyo trabajo se paga por horas y del modo siguiente: 

° Las horas inferiores o iguales a 40 horas (normales) se pagan a una tarifa determinada que se debe introducir por el teclado (el valor es por hora) al igual que el número de horas y el nombre.

° Las horas superiores a 40 se pagaran como extras a un promedio de 1,8 horas normales.

° Los impuestos a deducir a los trabajadores varian en función de su sueldo mensual:

- Sueldo <= $1.800.000, libre de impuestos.

- Los siguientes $500.000 al 20%.

- El resto, al 30%.

In [ ]:
# Declaración de variables:
sueldoTotal= 0.0
salario= 0.0
salarioNeto= 0.0
impuestos= 0.0
hombres=0
mujeres=0
sueldoTotalPagadoaHombres=0
sueldoTotalPagadoaMujeres=0
maximosueldopagadoahombre=0
maximosueldopagadoamujeres=0
minimosueldopagadoahombres=0
minimosueldopagadoamujeres=0
sueldopromediopagadoahombres=0
totalhorastrabajadashombres=0
totalhorastrabajadasmujeres=0
totalhorastrabajadas=0
HorasExtrasHombres=0
HorasExtrasMujeres=0
HorasExtrastotales=0
horaExtras=0

In [ ]:
# Captura de datos
nombreTrabajador=(input("Nombre del trabajador: "))
horasTrabajadas= int(input("Horas trabajadas: "))
tarifaHora= int(input("Tarifa horaria: "))
genero=int(input("cual es el genero del trabajador?\n""1.hombre\n""2.mujer\n"))

Nombre del trabajador: Marcela
Horas trabajadas: 48
Tarifa horaria: 1000
cual es el genero del trabajador?
1.hombre
2.mujer
2

In [ ]:
# calculadorSHE
if horasTrabajadas>40:
    she=(horasTrabajadas-40)*(tarifaHora*1.8)
    salariosemana=(40*tarifaHora)+she
elif horasTrabajadas<=40:
    salariosemana= horasTrabajadas*tarifaHora
salario=salariosemana
sueldoTotal=sueldoTotal+salario

In [ ]:
#sueldo total pagado a hombre y mujeres
if genero==1:
    sueldoTotalPagadoaHombres=sueldoTotalPagadoaHombres+salario
    hombres=hombres+1
elif genero==2:
    sueldoTotalPagadoaMujeres=sueldoTotalPagadoaMujeres+salario
    mujeres=mujeres+1

In [ ]:
#maximo sueldo pagado a hombre y mujeres
if genero==1 and maximosueldopagadoahombres>salario:
    maximosueldopagadoahombres=salario
    
elif genero==2 and maximosueldopagadoamujeres>salario:
    maximosueldopagadoamujeres=salario

In [ ]:
#minimo sueldo pagado a hombre y mujeres
if genero==1 and maximosueldopagadoahombres<salario:
     minimosueldopagadoahombres=salario
    
elif genero==2 and maximosueldopagadoamujeres<salario:
    minimosueldopagadoamujeres=salario

In [ ]:
#sueldo promedio pagado a hombres,mujeres y total
if genero==1:
    sueldopromediopagadoahombres=(sueldoTotalPagadoaHombres/hombres)
elif genero==2:
    sueldopromediopagadoamujeres=(sueldoTotalPagadoaMujeres/mujeres)

sueldopromediopagado=(sueldoTotal/(hombres+mujeres))

In [ ]:
#total horas trabajadas hombres,mujeres y total
if genero==1:
    totalhorastrabajadashombres=totalhorastrabajadashombres+horasTrabajadas
elif genero==2:
    totalhorastrabajadasmujeres=totalhorastrabajadasmujeres+horasTrabajadas

totalhorastrabajadas=totalhorastrabajadas+horasTrabajadas

In [ ]:
#numero de horas extras hombres,mujeres y totales
horasExtras=(horasTrabajadas-40)
if genero==1 and horaExtras>0:
    HorasExtrasHombres=HorasExtrasHombres+horasExtras
elif genero==2 and horaExtras>0:
    HorasExtrasMujeres=HorasExtrasMujeres+horasExtras
elif horaExtras>0:
    HorasExtrastotales=HorasExtrastotales+horasExtras

In [ ]:
#impuestos segun el sueldo
if salario<=1800000:
    print("libre de impuestos")
elif salario >1800000 and salario<=2300000:
    impuestosporelveinteporciento=(salario-1800000)
    salariomenosimpuestos=(500000-(impuestosporelveinteporciento*0.20))
    salariototalmenosimpuesto=(1800000+salariomenosimpuestos)
    print("salario total menos impuesto es",salariototalmenosimpuesto)
elif salario >2300000:
    salariomenosimpuestosdelveinte=(500000-(500000*0.20))
    impuestosporeltreintaporciento=(salario-2300000)
    salariomenosimpuestosporeltreinta=(impuestosporeltreintaporciento-(impuestosporeltreintaporciento*0.30))
    salariototalmenosimpuesto=(1800000+salariomenosimpuestosdelveinte+salariomenosimpuestosporeltreinta)
    print("salario total menos impuesto es",salariototalmenosimpuesto)

libre de impuestos

In [ ]:
# salida
print("salario total pagado por la compañia",sueldoTotal)
print("sueldo Total Pagado a Hombres es",sueldoTotalPagadoaHombres)
print("sueldo Total Pagado a Mujeres es",sueldoTotalPagadoaMujeres)
print("maximo sueldo pagado a hombre es",maximosueldopagadoahombre)
print("maximo sueldo pagado a mujeres es",maximosueldopagadoamujeres)
print("minimo sueldo pagado a hombres es",minimosueldopagadoahombres)
print("minimo sueldo pagado a mujeres es",minimosueldopagadoamujeres)
print("sueldo promedio pagado a hombres es",sueldopromediopagadoahombres)
print("sueldo promedio pagado a mujeres es",sueldopromediopagadoamujeres)
print("sueldo promedio pagado total",sueldopromediopagado)
print("total horas trabajadas hombres es",totalhorastrabajadashombres)
print("total horas trabajadas mujeres es",totalhorastrabajadasmujeres)
print("total horas trabajadas es",totalhorastrabajadas)
print("Numero de Horas Extras Hombres",HorasExtrasHombres)
print("Numero de Horas Extras Mujeres",HorasExtrasMujeres)
print("Numero de Horas Extras totales",HorasExtrastotales)

salario total pagado por la compañia 0.0
sueldo Total Pagado a Hombres es 0
sueldo Total Pagado a Mujeres es 0
maximo sueldo pagado a hombre es 0
maximo sueldo pagado a mujeres es 0
minimo sueldo pagado a hombres es 0
minimo sueldo pagado a mujeres es 0
sueldo promedio pagado a hombres es 0
sueldo promedio pagado a mujeres es 54400.0
sueldo promedio pagado total 54400.0
total horas trabajadas hombres es 0
total horas trabajadas mujeres es 0
total horas trabajadas es 0
Numero de Horas Extras Hombres 0
Numero de Horas Extras Mujeres 0
Numero de Horas Extras totales 0